[user]
	name = Dohyun Kim
	email = dohyun.kim@furiosa.ai
# see https://news.hada.io/topic?id=19441&utm_source=slack&utm_medium=bot&utm_campaign=T5P75SW80
[merge]
# conflictstyle = zdiff3 # 버전마다 안되는경우가 있음
conflictstyle = diff3
[column]  
ui = auto  
[branch]  
sort = -committerdate  
[tag]  
sort = version:refname  
[diff]  
algorithm = histogram  
colorMoved = plain  
mnemonicPrefix = true  
renames = true  
[push]  
default = simple  
autoSetupRemote = true  
followTags = true  
[fetch]  
prune = true  
pruneTags = true  
all = true  
[help]  
autocorrect = prompt  
[commit]  
verbose = true  
[rerere]  
enabled = true  
autoupdate = true  
[core]  
excludesfile = ~/.gitignore  
[rebase]  
updateRefs = true  

# 파일 변경 감지 속도 향상 (optional)
[core]  
fsmonitor = true  
untrackedCache = true  